body{
	background-color: #edf0f2;
	font-family: 'Helvetica';
	font-size: 14px;
	background-color: #edf0f2;
	overflow-x: hidden;
	
}
.backgroud-gray{
	background-color: #edf0f2;
}
.pages{
	background-color: #edf0f2;
	padding-top: 180px;
}
label{
		font-weight: 100;
}
.med-text{
	font-size: 24px;
	color: #34475e;
}
.light-text{
	font-size: 12px;
	font-style: italic;
	color: 	#777;
	line-height: 1.15;
}
.sml-text{
	font-size: 18px;
	color: #34475e;
	font-weight: 500;
}
.lg-text{
	font-size: 50px;
	color:#34475e;
}
.section-text{
	font-size: 70px;
	color: #34475e;
}
li {
	list-style: none;
}
.center-content{
 	text-align: center;
    align-content: center;
}
.textMuted{
color: 	#777;
line-height: 1.15;
}
.btn-green{
	background-color: #1ed4b2;
	color: #FFF;
	font-size: 14px;
}
.btn-green button :hover{
	background-color: #36DCBC;
	color: #FFF;
}
/*****************************************************************************Sections*******************/
/*Benefits Section*/
.benefit-section{
	background-color: #FFF;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
    align-content: center;
}
.benefit-section img{
	float:left;
}
.benefit-section span{
	color: #34475e;
	line-height: 1.15px;
	padding: 10px;
	font-size: 15px;
}
/*Image*/
.main{
	background-image: url("../img/background-img (3).jpg");
	min-height: 600px;
	background-size: cover;
  	background-attachment: fixed;
  	text-align: center;
    align-content: center;
}
.main button{
	font-size: 25px;
}
.main label{
	padding-top: 200px;
	color: #FFF;
	font-size: 40px;
}
.m-title{
	color: #FFF;
	font-size: 30px;
}
/*How it works*/
.hw-section{
/*padding: 150px;*/
	background-color: #FFF;
	background-size: cover;
	padding: 10px 0px 50px 0px;
}
.hw-section img{
	margin-bottom: 30px;
}
/*Footer*/
.footer {
	padding: 33px 0 15px;
    background-color: #34475e;
    color: white;
    font-size: 10px;
  
}
.footer a{
	color: white;
	font-size: 14px;
	padding: 10px;
}
/*Credit cards*/
.credit-cards{
	background-color: #FFF;
	padding: 25px;
}
/*Plans Section*/
.plans-section{
	padding: 40px 0;
	background-color: #edf0f2;
	background-size: cover;
	color: white;
}
.plans-section  button{
	background-color: #1ed4b2;
	color: #fff;
	font-size: 30px;
	border-color: #1ed4b2;
}
/*Slogan*/
.slogan{
	padding: 10px 5px 30px 5px;
	background-color: #fff;
	background-size: cover;
}
.slogan h1{
	font-weight: 900;
	color: #34475e;
}
/*Contact Section*/
.contact-section{
	padding: 40px 10px 50px 10px;
	background-color: #edf0f2;
	background-size: cover;
	font-style: normal;
}
/*Help section*/
.help-section{
	padding: 10px 0px 50px 0px;
	background-color: #FFF;
	background-size: cover;
	font-style: normal;
}
/*Sing Up*/
.panelsu{
	box-shadow: 5px 5px 5px 5px #555;
}
.btn-right{
	text-align: right;
	align-content: right
}
.personalnfo-section{

	overflow: hidden;
}
.pnl-header{
	background-color: #34475e;
	color: #FFF;
}
/*Prices*/
.price-box{
	background-color: #1bbc9c;
}
.data-box{
	background-color: #fff;
}
.data-box label{
	font-weight: 100;
}
.data-box button{
	background-color: #51adef;
	color: #fff;
	font-size: 16px;
}
.title{
	color: #fff;
	font-size: 30px;
}
.big{
	color: #fff;
	font-size: 60px;
}
.small{
	color: #fff;
	font-size: 12px;
	font-style: italic;
}
.money-sign{
	color: #fff;
	text-align: top;
	top:4px;
}
.panelprice{
	box-shadow: 5px 5px 20px 5px #555;
	padding-right: 0px;
	padding-left: 0px;
}
.features-box{
	background-color: #e0e5e7;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px;
}
.price2{
-webkit-animation-delay:.3s;
}
.price3{
-webkit-animation-delay:.6s;
}
.price4{
-webkit-animation-delay:.9s;
}
/*Navagation Bar*/



/*Emmanuel´s*/



/*No outline on the active buttons  */
.btn:focus,
.btn:active:focus {
  outline: 0px;
}

/*Flat button class  */
.btn-flat{
border-radius: 0px;
}

/*Oval button class  */
.btn-oval{
border-radius: 5px;
}

/* color of the default button */
.btn-default{
background-color: #1bbc9c;
border-color: #1bbc9c;
color: #FFF;
}

/* color of the default button when is HOVER  */
.btn-default:hover{
background-color: #34D0B1;
color: #FFF;
}

/*button submmit class in the modal LOGIN  */
.btn-submmit{
padding: 6px 45px;
}

/*button submmit class in the modal SIGN UP  */
.btn-submmit2{
padding: 6px 18px;	
}

/*Styles from menu nav  */

.menu {
background-color: rgba(52, 71, 94, .90);

}


.navbar-default{
background-color: rgba(0, 0, 0, 0);
border: none;
}


.navbar-default .navbar-nav>li>a {
font-family: "Helvetica", "Helvetica-Bold";
color: #FFFFFF;
font-weight: bold; 
}

.navbar-default .navbar-nav>li>a:hover {
color: rgb(153,153,153);

}

.phone-letter {
font-size: 15px;
color: #fff;
}

.forgetpsw-letter {
font-size: 12px;
color: #fff;
}

.navbar-brand{
padding: 0px 15px;
}

.menu-trans {
padding-bottom: 6px;
padding-top: 5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.padd-phone{
padding: 10px;
}
.oculto{
display: none;
}

 /* Styles of Terms and Privacy Term */
.policy-section {
background-color: #FFF;
background-size: cover;
text-align: left;
align-content: left;
/*padding: 20px 150px;*/
}

.policy-section ul li{
text-align: left;
list-style-type: square;
font-size: 16px;
color: #34475e;
}


.p {
text-align: justify;
}

.bold{
font-weight: bold;
}


.forget-st{
padding-bottom: 1px;
}





/*Colors
Green: #1ed4b2;
Light-green: #36DCBC;
Blue: #34475e ;
*/